body{
    font-family: sans-serif;
    background-image: url(../Images/Basketball.jpg);
    background-size: cover;
}

/*__________________________________________________HEADER */

Header{
    padding: 10px;
    background-color: white;
    
    border: 1px solid black;
}

/*__________________________________________________NAV */

nav {
    text-align: center;
    background-color: orange;
    padding: 5px;
    border: 1px solid black;
}


nav ul{
    font-size: 1.2em;
}

nav ul li {
    text-align: center;
    list-style-type: none;
    background-color: orange;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid black;
}

nav ul li:hover{
    background-color: lightgrey;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

/*__________________________________________________MAIN */

main{
    border: solid black;
    background: white;
    min-height: 400px;
    margin: 15px 200px;
    padding: 20px;
     
}
section{
    margin: 20px;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 30px;
}

h2 {
    text-align: left;
    margin-bottom: 2em;
}

.required {
    font-weight: bold;
    color: red;
}

label {
    float: left;
   text-align: left;
    width: 112px;
}

input {
    margin-left: 1em;
    margin-bottom: 1em;
    width: 200px;
}

#button {
    margin-top: 2em;
    margin-left: 138px;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}

#reset {
    margin-top: 2em;
    width: 8em;
    background-color: orange;
    border: 2px solid black;
}

/*__________________________________________________FOOTER*/

#goToTop {
    text-decoration: none;
    color: white;
}

footer{
    color: white;
    clear: both;
    padding: 10px;
    margin: 10px;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: orange;
    
    text-align: center;
    
    float: right;
    
    border: 1px solid black;
}

